*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(208, 204, 204);
}
.header{
    display: flex;
    background-color: #000000;
    padding: 20px;
    position: sticky;
    top: 0;
}
#logo{
    flex: 1;
}
img{
    max-height: 80px;
    border: white 4px solid;
    object-fit: cover;
}
#space{
    flex: 8;
}
.menu{
    flex: 3;
    display: flex;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}
.content{
    font-size: 24px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(208, 204, 204);
}
hr{
    margin: 10px;
    border: 2px solid black;
}
#morespace{
    height: 100;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;
    margin: 50px;
    text-align: center;
}
#item{
    display: block;
    padding: 30px;
    background-color: rgb(194, 193, 193);
    margin: 10px;
    border: 4px solid black;
}
#word{
    display: block;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}
#aa{
    display: block;
    justify-content: center;
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    border: 4px solid black;
}
.footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}
iframe{
    width: 100%;
    margin: 30px auto;
    display: block;
}